* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('/assets/img/background1.png') no-repeat center center fixed; /* Replace with your image path */
    background-size: cover;
    color: rgb(231, 94, 140);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: rgba(85, 87, 87, 0.8); /* Slightly transparent background */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(255, 225, 235);
}

.navbar a {
    font-size: 22px;
    color: rgb(255, 225, 235);
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: rgb(214, 170, 185);
}

.wrapper {
    margin-top: 100px; /* Adjust this value based on header height */
    padding: 0 8%;
    z-index: 1; /* Ensure it stays above the background */
    position: relative; /* Ensure it stays above the background */
}

.section-header {
    color: rgb(255, 103, 164);
    font-size: 40px;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    justify-items: center;
}

.box {
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: rgba(235, 232, 232, 0.8);
    transition: transform 0.5s, backround 0.5s;
}

.box img {
    width: 100%;
    height: auto;
}

.img-text {
    margin-top: 10px;
}

.content h2 {
    font-weight: 600;
    margin-bottom: 8px;
    color: gray;
}

.box:hover {
    background: #ff89b1e6;
    color: rgb(255, 255, 255);
    transform: scale(1.05);
}

.box:hover .content h2 {
    color: rgb(248, 238, 243);
}